html, body {
  height: 100%;    /* Explicit height allows for vertical centering */
  margin: 0;       /* Removes default browser spacing */
}

@font-face {
    font-family: 'Chocho Aura';
    src: url('/src/data/fonts/ChochoAuraDemo-Regular.woff2') format('woff2'),
        url('/src/data/fonts/ChochoAuraDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url('/src/img/homepagebg.webp');
    background-size: cover;
}

.friends {
    border: 2px solid black;
} 
.friends-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}
