/* Top section of the pagee */

body {
    margin: 0;
}

.pfp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #121212;
    border-bottom: 5px solid #222266;
    color: white;
}

.pfp-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pfp-pic {
    width: 50px;
    height: 50px;
    border-radius: 80%;
    border: 2px solid #444;
}

.typing {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s forwards;
    margin-right: -11px;
    font-family: monospace;
}

@keyframes typing { from { width: 0; }}
@keyframes cursor {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.cursor {
    animation: cursor 1s step-end infinite;
}

.links {
    display: flex;
    align-items: left;
    gap: 12px;
}

.AOTY {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.spotify {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.insta {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.dis-cord {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.x {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.gif {
    width: 610px;
    overflow: visible;
}

.info-gif {
    width: 750px;
    height: 180px;
    margin-top: -10px;
    margin-left: -275px;
}

.box {
    /*border: 2px solid #6FB2FF;*/
    /*  border-radius: 10px; */
    padding: 0px 15px;
    margin: 10px;
}

